/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-layout-sider-trigger {
  background-color: #24163a !important;
}

/* Hide message on desktop, show content */
.desktop-only {
  display: block;
}

.mobile-block-message {
  display: none;
}

/* Mobile rules */
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
  .mobile-block-message {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #555;
    text-align: center;
    padding: 20px;
  }
}
